/* sidebar-footer */
.sidebar-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* border-top: 5px solid #2962ff; */
}
.sidebar-footer .dropdown .dropdown-menu .dropdown-item:hover,
.sidebar-footer .dropdown .dropdown-menu .dropdown-item:active {
  background-color: #f8f9fa!important;
  cursor: pointer;
}
.sidebar-footer > div {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
  height: 35px;
  line-height: 35px;
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sidebar-footer > div:first-child {
  border-left: none;
}
.sidebar-footer > div:last-child {
  border-right: none;
}
.sidebar-footer > div > a {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  color: var(--icon-sidebar);
}
.sidebar-footer > div > a:hover {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  color: #fff;
}
.sidebar-footer > div > a:hover > i::before {
  display: inline-block;
  -webkit-animation: swing ease-in-out .5s 1 alternate;
  animation: swing ease-in-out .5s 1 alternate;
}
.sidebar-footer > div a .notification {
  position: absolute;
  top: 0;
}
.sidebar-footer > div.pinned-footer {
  display: none;
}
/* sidebar-footer dropdown*/
.sidebar-footer .dropdown-menu {
  bottom: 36px;
  left: 0 !important;
  top: initial !important;
  right: 0;
  -webkit-transform: none !important;
  transform: none !important;
  border-radius: 0;
  font-size: .9rem;
}
.sidebar-footer .dropdown-menu .dropdown-item {
  padding: .25rem 1rem;
}
.sidebar-footer .dropdown-menu .dropdown-header {
  padding: 0 1rem;
}
.sidebar-footer .dropdown-menu .dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sidebar-footer .dropdown-menu .dropdown-content .pic {
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.sidebar-footer .dropdown-menu .dropdown-content .pic img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
}
.sidebar-footer .dropdown-menu .dropdown-content .pic i {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
}
.sidebar-footer .dropdown-menu .dropdown-content .content {
  line-height: 1.6;
  padding-left: 5px;
  width: calc(100% - 40px);
}
.sidebar-footer .dropdown-menu .dropdown-content .content .title {
  font-size: 13px;
}
.sidebar-footer .dropdown-menu .dropdown-content .content .detail {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sidebar-footer .dropdown-menu .dropdown-content .content .time {
  font-size: .7rem;
  color: #828282;
}

/* pinned */
.sidebar-footer.pinned:not(.hovered) .dropdown {
  display: none;
}
.sidebar-footer.pinned:not(.hovered) .pinned-footer {
  display: block;
}
