section h1{
  font-size: 15px;
  color: var(--icon-sidebar);
  text-transform: uppercase;
  font-weight: bold;
   white-space: nowrap;
}
hr{
  width: 90%;
  margin: 10px;
}
.scroll{
  overflow-x: auto;
}
.scroll div{
  margin: 15px;
  text-align: center;
}
.scroll div img {
  width: 120px;
  height: 120px;
  border-radius: 10px;

}
.scroll div span{
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
}
