<section *ngFor="let item of data">
  <div class="d-flex align-items-center">
    <h1>{{item.title}}</h1>
    <hr>
    <button mat-icon-button color="primary" type="button" name="button" (click)="scroll(list, 'left')"><i class="fas fa-chevron-left"></i></button>
    <button mat-icon-button color="primary" type="button" name="button" (click)="scroll(list, 'right')"><i class="fas fa-chevron-right"></i></button>
  </div>

  <!-- albums -->
  <div class="scroll d-flex" #list>
    <div matRipple [matRippleCentered]="true" *ngFor="let album of item.albums" (click)="set(item)">
      <!-- {{albums}} -->
      <img [src]="album.images  ? album.images[0]?.url : album.icons[0].url" loading="lazy">
      <span>{{album.name}}</span>
    </div>
  </div>
</section>
